html { 
  background: url(https://i.giphy.com/media/l0HlySkU6z5Mot5U4/source.gif) no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Roboto', sans-serif;;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  width: 60%;
  margin: 0 auto;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}

.info {
  text-align: center;
}

a {
  text-decoration: none;
  text-decoration-color: black;
}

.title {
  text-align: center;
}

hr {
  width: 400px;
}

button {
  font-size: 18px;
  width: 80px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  outline: none;
}

button:hover {
  background-color: white;
}

#hidden = {
  display: none;
}